@model FinalProject.Models.ForumThread

<h2>@Model.Title</h2>

<p>@Model.Content</p>
<p>Posted by: @Model.User.UserName</p>

<h3>Replies</h3>
<ul>
    @foreach (var reply in Model.Replies)
    {
        <li>
            <p>@reply.Content</p>
            <p>Posted by: @reply.User.UserName</p>
        </li>
    }
</ul>

<a asp-action="Index">Back to Forum</a>
